<h1  class="center-align">Editing Sub Category</h1>

<%= render 'form', sub_category: @sub_category %>

<%= link_to 'Mostrar', [@category, @sub_category], class: 'btn' %>
<%= link_to 'Voltar', category_sub_categories_path, class: 'btn' %>
